
/* ALLL */
h1{
  text-align:center;
  font-family:Merriweather;
  margin: 50px 30px -10px 50px;
  font-size:  48px;;
  color: #2d2d2d;

}
#lefth1{
  font-size: 100px;
  margin: 0;
  text-align:left;
}
h2{
  font-family:Merriweather;
  font-size:30px;
}
blockquote{
 text-align:justify;
 font-family:poppins;
}
p{
  text-align:justify;
  font-family:poppins;
}
.allbody{
  background-color:white;
  margin:50px 175px;
  padding: 20px 40px 30px;
  box-shadow: 10px 10px 10px #1d3c59;
  background-image: url("Images/Background_paper.png");
  border-radius: 10px;
}
.homecontainer{
  margin:100px 175px;
  padding: 20px 40px 30px;
}

sup{
  font-family:Georgia;
}
body{
  background-color:#dcddd8;
  margin: 0;
  padding: 0;
}
img {
  text-align: center;
}
mark{
  background-color:#1d3c59;
  color:white;
}

.imgcenter {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}


/* For Resume */
.resume{
  list-style-type:upper-alpha;
}
#title{
  font-size: 2em;
}
.body{
  font-size: 16px;
}
#educ{
  margin:3px;
}
.listtitle{
  font-size:15px;
  font-weight: bold;
}
.fontpoppins{
    font-family:poppins;
}

/* Navigation Bar */
.navbar{
  background-color:#dcddd8;
  justify-content: center;
  width: 100%;
  padding:14px 0px ;
  box-shadow: 0px 5px 15px #1d3c59;
}
.navbar a {
  color: #2d2d2d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: left;
}
.navbar a:hover {
  border-bottom-style: solid;
  border-bottom-color: #efa427;
  background-color: #1d3c59;
  color: white;
}
/*inside navv*/
.sub-nav {
  display: flex;
  justify-content: center; 
}


.sub-nav a {
  color: #2d2d2d;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.sub-nav a:hover {
  background-color: #1d3c59;
  color: white;
  border-radius: 5px;
}


/*For box column, rows*/

.row {
  display: flex;
}

.column#left {
  flex: 60%;
  padding: 10px;
  height: 300px; 
}
.column#right {
  flex: 40%;
  padding: 10px;
  height: 300px; 
}


/*For going backkk*/
/* Back to Top Button */
.back-to-top {
  display: inline-block; 
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  background-color: #1d3c59;
}

.back-to-top:hover {
  color: black;
  background-color: transparent;
}

.button-container {
  width: 100%;
  text-align: right; 
  margin-top: 10px; 
}